.DS_Store
project*/boot/*
project*/build/target/*
project*/plugins/project/target/*
project*/plugins/target/*
project*/target
server/target
scala-client/target
target
data
*~
.idea/*
*.tmproj
*.iml
*.ipr
*.iws
*.swp
*.pyc
.project
.classpath
.scala_dependencies
.sbtlib
.target
.cache
